<section class="mainConteiner">
  <section class="container_top">
    <div>
      <h1><i class="bi bi-boxes"></i> Asignacion de Producto</h1>
    </div>
    <div>
      <div class="d-flex gap-4">
        <button
          (click)="openModal(myModalContent)"
          class="btn btn-secondary mt-5 d-flex justify-content-center"
        >
          <i class="bi bi-bag-plus-fill"></i>Agregar Producto
        </button>
        <button
          class="btn btn-success mt-5 d-flex justify-content-center gap-2"
          (click)="generatePDF('casita', listAsignacion.content)"
        >
          <i class="bi bi-file-earmark-pdf"></i>Generar PDF
        </button>
      </div>
    </div>
    <ng-template #myModalContent>
      <div class="modal-header">
        <h4 class="modal-title">Agregar nuevo pedido</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioGeneral">
          <input type="hidden" formControlName="idAsignacionProducto" />
          <div class="row">
            <div class="col-6">
              <label class="form-label">Cantidad de Producto</label>
              <input
                type="text"
                name="cantidad"
                class="form-control mb-3"
                formControlName="cantidad"
                [class]="esCampoValido('cantidad')"
              />
              <div class="invalid-feedback">
                <span
                  *ngIf="formularioGeneral.get('cantidad')?.errors?.['required']"
                  >Requiere un nombre</span
                >

                <span
                  *ngIf="formularioGeneral.get('cantidad')?.errors?.['pattern']"
                  >Solamente se permiten letras</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label">N. de Pedido</label>
              <ng-select
                formControlName="pedidos"
                name="pedidos"
                style="margin-top: -15px"
                [class]="esCampoValido('pedido')"
              >
                <ng-option
                  *ngFor="let data of listPedidos"
                  [value]="data.idPedido"
                  >{{ data.idPedido }}</ng-option
                >
              </ng-select>
              <div class="invalid-feedback">
                <span
                  *ngIf="formularioGeneral.get('pedidos')?.errors?.['required']"
                  >Requiere un nombre</span
                >
              </div>
            </div>
            <div class="col-6">
              <label class="form-label">Nombre del Producto</label>
              <ng-select
                [class]="esCampoValido('producto')"
                formControlName="producto"
                name="producto"
                style="margin-top: -15px"
              >
                <ng-option
                  *ngFor="let data of listProductos"
                  [value]="data.idProducto"
                  >{{ data.nombreProducto }}</ng-option
                >
              </ng-select>
              <div class="invalid-feedback">
                <span
                  *ngIf="formularioGeneral.get('producto')?.errors?.['required']"
                  >Requiere un nombre</span
                >

                <span
                  *ngIf="formularioGeneral.get('producto')?.errors?.['pattern']"
                  >Solamente se permiten letras</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" (click)="guardar()">
          Guardar
        </button>
      </div>
    </ng-template>
  </section>
  <section class="container_bottom">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Pedido</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let data of listAsignacion.content; let i = index"
          >
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ data.producto.nombreProducto }}</td>
              <td>{{ data.pedidos.idPedido }}</td>
              <th scope="row">{{ data.cantidad }}</th>
              <td>
                <div class="d-flex justify-content-center gap-3">
                  <button
                    (click)="openModal(myModalContent, data)"
                    class="btn btn-success"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button (click)="delete(data)" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </section>
  <div class="mb-4 mt-4 d-flex justify-content-end">
    <ngb-pagination
      [pageSize]="listAsignacion.pageable.pageSize"
      [collectionSize]="listAsignacion.totalElements"
      (pageChange)="pageChange($event)"
      [(page)]="currentPage"
    ></ngb-pagination>
  </div>


</section>
