.main_container{

  width: 100%;
  margin-inline: auto;
  display: flex;
  .container{
    width: 100%;
    background-image: url("../../../../../assets/images/City-Japan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(90vh - 40px);
    object-fit: cover;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
    justify-content: flex-start;

    }

  }
    h1{
      display: flex;
      // margin-left: 4rem;
      justify-content: center;
      background-color: white;
      width: 80px;
      font-size: 20px;
      align-items: center;
      writing-mode: vertical-rl; /* Esta propiedad hace que el texto se muestre en posición vertical */
      transform: rotate(0deg); /* Esta propiedad rota el texto para que se muestre correctamente */
      white-space: nowrap; /* Esta propiedad asegura que el texto no se divida en varias líneas */
      text-orientation: upright; /* Esta propiedad orienta el texto correctamente */

      @media screen and (min-width: 768px) {
      margin-left: 4rem;
      font-size: 28px;
      }

      @media screen and (min-width: 992px) {
      font-size: 36px;

      }

    }

    h1:nth-child(2) {
      display: none;
      @media screen and (min-width: 450px) {
      display: flex;
      margin-left: 1rem;
      }

      @media screen and (min-width: 768px) {
        margin-left: 4rem;


        }

    }

    h1:nth-child(3) {
      display: none;

      @media screen and (min-width: 650px) {
        display: flex;
        margin-left: 1rem;
        }

        @media screen and (min-width: 768px) {
          margin-left: 4rem;

            }
    }





    img{
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      bottom: 40px;
      display: none;
    }
}

