<div class="container">
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <img src="/assets/logo.jpg" width="200px" height="100px" alt="">
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active d-flex justify-content-center gap-2" aria-current="page" ><i class="bi bi-house"></i>Inicio</a></li>
      <li class="nav-item"><a routerLink="/asignacion" class="nav-link d-flex justify-content-center gap-2"><i class="bi bi-balloon-heart"></i>Asignacion de Producto</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Excel</a></li>
      <li class="nav-item"><a href="#" class="nav-link">PDF</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Graficas</a></li>
    </ul>
  </header>
</div>
