<section class="container">
  <ng-container *ngIf="resultadoList.length==0;else resultado">
    <ng-container *ngFor="let item of list">
      <div>
        <h2 class="container__title"><span [innerHTML]="getSafeHtml(item.icon)"></span>{{item.title}}</h2>
      <ul class="container__list">
        <app-button *ngFor="let texto of item.list" [paragraph]="texto" ></app-button>
     </ul>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #resultado>
    <div class="resultado" >
      <div *ngFor="let item of arregloTodo" >
        <p><img src="">{{item.palabra}} </p>
        <p>{{item.resultado}} </p>
      </div>
    <div></div>
    <div></div>
  </div>
  </ng-template>

</section>
