@use "variables" with($secundary: gray);

html {
  font-family: variables.$franklin;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: variables.$primary;
}

#top {
  display: flex;
  background-color: variables.$tono_gris;
  text-align: left;
  padding: 0;
}

h1 {
  margin: 8px 0 0;
  padding: 0 0 0 15px;
  color: variables.$beige;
}

p {
  text-align: justify;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.contenido {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.list-cursos {
  width: 60%;
  padding: 5px;
}

.pacman {
  width: 30%;
  padding: 5px;
}

.pac {
  $amarillo: yellow;
  width: 10px;
  border: 50px solid $amarillo;
  border-right: 50px solid transparent;
  border-radius: 50%;
}

footer {
  margin: 0;
  background-color: variables.$color_footer;
  margin-top: 5px;
  padding: 1em;
  position: fixed;

  width: 100%;
  font-size: 18px;
  color: variables.$beige;
  bottom: 0;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 600px) {
  #top {
    background-color: variables.$rojo;
  }
  .pac {
    width: 20px;
    margin: 5px;
    border: 70px solid variables.$azul_marino;
    border-right: 70px solid transparent;
    border-radius: 50%;
  }
}
