$primary: rgb(215, 240, 247);
$secundary: black !default;
$tono_celeste: deepskyblue;
$tono_gris: #6d7e96;
$selector: ".pacman";
$propiedad: background-color;

// #{$selector} {
//   #{propiedad}: $secundary;
// }
