<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>SOÑAMOS EN GRANDE
        PARA CREAR UN FUTURO
        ​CON MÁS MOTIVOS PARA BRINDAR</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>LA CONSTANCIA
          </h6>
          <p>
            La Constancia es el legado cervecero de El Salvador desde 1906 y a partir de 2016 se integra a la familia global de AB-InBev, la compañía cervecera más grande del mundo. Sus más de 3,000 empleados trabajan para ofrecer al consumidor: 12 marcas de cerveza, 4 marcas de bebidas carbonatadas, variedad de jugos, bebidas energéticas, bebidas isotónicas, leches de semillas y agua purificada. La empresa produce el 1% del producto interno bruto del país y representa el 2.8% de la recaudación tributaria del gobierno. Tiene un efecto multiplicador sobre ventas adicionales del 5.6% del PIB y 14 en el empleo.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Nuestros productos
          </h6>
          <p>
            <a href="#!" class="text-reset">Nuestras marcas</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nuestras Cervezas</a>
          </p>

          <p>
            <a href="#!" class="text-reset">Bebidas no Alcohólicas</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactanos</h6>
          <p><i class="fas fa-home me-3"></i> Avenida Independencia, #526, S.S</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +503 2209-7555.</p>
          <p><i class="fas fa-print me-3"></i>+503 2222-8080</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    ©
    <a class="text-reset fw-bold" href="https://github.com/williamdelcid" >William Antonio Del Cid Mejia - 2023</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
